*{
    margin: 0;
    padding: 0;
}
form{
    display: flex;
    flex-direction: column;
    background: cornflowerblue;
    margin: 20px 0;
}
input, label, select, textarea{
    max-width: 300px;
    padding: 10px 20px;
}
input, select, textarea{
    margin: 10px;
}

